.container_pass{
    padding-top: 15%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}
h5{
    text-align: center;
}
.form-floating,button{
    margin: 1% 20%;
}
#but_new_pass{
    margin-left: 25%;
    margin-top: 0.5rem;
    padding:0.5rem 3rem ;
   font-weight: bold;
}