 /* google fonts */
  @import url('https://fonts.googleapis.com/css2?family=Amita:wght@700&family=Gwendolyn:wght@700&family=Sassy+Frass&display=swap');
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins';
}
body {
    overflow-x: hidden;
}
.main .section{
    width: 100%;
    height: auto;
    position: relative;
    top: 5.9rem;
    padding-top: 2rem;
}
/* .main .section .grid-max{
    justify-content: space-evenly;
} */
.main .section .grid-max #section-child1,
.main .section .grid-max #section-child2{
    height: auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.main .section .grid-max #section-child1{
    width: 90%;
    margin:0% 0% 0% 5%;
}
.main .section .grid-max #section-child2{
    width: 100%;
    /* margin: 2% 9% 0% 10%; */
    margin: 0px 5%;
}

.main .section .grid-max #section-child1 h3,
.main .section .grid-max #section-child2 h3{
    background-color: gainsboro;
    padding: 0.5rem 0rem 0.5rem 0rem;
}
.main .section .grid-max #section-child1 .conten-rv{
    width: 100%;
    height: auto;
}
.main .section .grid-max #section-child1 .conten-rv #menu_avant_liste_rv{
    display: flex;
    justify-content: space-between;
    padding: 0rem 1%;
   
}
#div1{
  width:30%
}
 #content-lien{
    padding: 0.2em 1rem;
    border: 1px solid gray;
      box-shadow: 1px 1px 5px inset gainsboro;
    width:auto;
    float:right;
    margin-top: -2.2rem;
    text-align: end;
}
 #content-lien i{
    cursor: pointer;
 
 }
.info_applicant{
    display: none;
}
#accessible{
display: flex;
}
 #copy1{
    font-size: small;
    position: relative;
    top: -3rem;
    left: 101%;
    font-weight: bold;
    background-color: black;
    color: white;
    width: fit-content;
    padding: 0.1rem 0.5rem;
    border-radius: 1rem 0rem 1rem 0rem;
    display: none;
}
#copy2{
    font-size: small;
    position: relative;
     top: -3rem;
    left: 101%;
    font-weight: bold;
   background-color:  green;
    color: white;
    width: fit-content;
    padding: 0.1rem 0.5rem;
    border-radius: 1rem 0rem 1rem 0rem;
    display: none;
}
thead{
    background: lightcyan;
}

/* formulair de creation de rendez vous */
/* #formulair .modal-body,
#formulair_modification .modal-body 
#delete_formulair .modal-body   {
  height: auto;
} */

#formulair .modal-body .btn-exit{
  text-align: end;
}
 #formulair .modal-body .btn-exit .btn-close
  {
  color: white;
  background-color: white;
  position: relative;
  top: -2rem;
  left: 3rem;
 }
#formulair .modal-body .contenu-form .input-form .btn-valider-connexion{
  width: 10rem;
   padding-bottom: 0.5rem;
   padding-top: 0.5rem;
   margin-top: 1rem;
   font-size: 1.5rem;
}

#formulair .modal-body .contenu-form .input-form .btn-valider-connexion{
margin-bottom: 1rem;
}
#formulair .modal-body .body-form .div-multi-forms{
    width: 100%;
    display: block;
    text-align: left;
    margin: 2rem 0rem 2rem 4rem;
}
#formulair .modal-body .body-form .div-multi-forms .conten-form-check{
     margin-left: 2rem;
}
#formulair .modal-body .body-form .div-multi-forms h5 i{
    color:blue;
    margin-right:  0.5rem;

}
#formulair .modal-body .body-form .div-multi-forms .form_1,
#formulair .modal-body .body-form .div-multi-forms .form_2{
     border-left: 3px solid blue;
     padding-left: 1rem;
     margin-bottom: 2rem;
}

#formulair .modal-body .body-form .div-multi-forms .form_2 .input-group,
#formulair .modal-body .body-form .div-multi-forms .conten-form-check .input-group {
    width: 35%;
}
#formulair .modal-body .body-form .div-multi-forms .form_1 #btn-form_1{
    margin: 1.5rem 0rem 0rem 2rem;
    font-size: 1rem;
}
.main .section .grid-max #section-child1 .conten-rv #list_group {
   display: flex;
}
.main .section .grid-max #section-child1 .conten-rv #list_group li {
    display: flex;
    justify-content: space-around;
}
.main .section .grid-max #section-child1 .conten-rv #list_group .thead_liste{
    font-size: 1.2rem;
}
#section-child1 h3{
  display: flex;
  justify-content: space-between;
  padding: 0px 3rem;
}
#section-child1 h3 span,
#section-child1 h3  i{
margin: 0px 2re ;
}



/* formulaire demadeur de rendez-vous */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main .grid-max #form_rv{
  /* position: relative; */
  overflow: hidden;
  box-sizing: border-box;
 
  /* margin-bottom: 2rem; */
 
}
.containers {
  max-width: 630px;
  margin: 2% 0%;
  margin-left: 25%;
  height: auto;
}
/* .containers{
  display:none;
} */
#contact input,
#contact button[type="submit"] {
  font: 400 13px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
  color: darkorange;
}
#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 15px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 0px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}
.containers #contact #input_group{
  text-transform: capitalize;
}
.containers #contact #input_group #inputs {
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 ;
  padding: 12px;
  width: 100%;
}
#contact input:hover
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}


#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  margin-bottom: 0rem;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}


#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}



@media screen and (max-width : 768px) {
body .main{
  margin-bottom: 60%;
}
.main #section-child1 #div_table{
  overflow-x: scroll;
  margin-bottom: 3rem;
}
.main #section-child1 #div_table table th{
   font-size: 12px;
}
.main #section-child1 #div_table table tr td{
  font-size: 10.5px;
}
.main .section .grid-max #section-child1 .conten-rv #menu_avant_liste_rv{
  display: block;
  padding: 0rem 1%;
  position: relative;
  overflow: hidden;

  
}
#div1{
  width: 100%;
  font-size: 12px;
}
#content-lien{
  width: 99.9%;
  position: relative;
  box-sizing: border-box;
  font-size: x-small;
  float: none;
  margin-top: 1rem;
  padding: 0rem 0rem;
  margin-right: 3rem;
  text-align: left;

}
#iconCopy{
  margin-top: -1rem;
 float: right;
}
#content-lien i{
  display: block;
}
}


